# Node modules
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.idea/
.DS_Store

# Dependencies
dist/
coverage/
public/temp/
